* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;

}

.app {
  background: linear-gradient(rgb(104, 177, 255), #e66465);
}

main {
  min-height: 100vh;
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 10px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  max-width: 900px;
  appearance: none;
  background: none;
  border: none;
  border-radius: 25px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  color: #313131;
  font-size: 20px;
}

.location-box .location {
  color: white;
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  }


.weather-box {
  text-align: center;
}

.weather-box .temp {
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  max-width: 900px;
  padding: 15px 25px;
  color: white;
  font-size: 60px;
  font-weight: 900px;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: white;
  font-size: 48px;
  font-weight: 700;
  
}

.toggle {
  text-align: center;
}

button {
  margin: 5px 5px 20px 5px; 
  padding: 10px;
  border-radius: 25px;
  border: 2px solid white;
  color: white;
  font-size: 20px;
  font-weight: 700;
  outline: none;
  background:transparent;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

button:hover{
  background: linear-gradient(#A9D3FF, #e66465);
  cursor: pointer;

}

.button-clicked {
  background: white;
  color: rgb(50, 50, 70);
}

.forecast {
text-align: center;
}

.forecast .forecastCard {
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 25px;
  color: white;
  font-size: 30px;
  font-weight: 900px;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  max-width: 900px;
}